// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

.explination {
  // width: 90%;
}

.form {
  margin-bottom: 2rem;
}

.flex {
  display: flex;
  justify-content: space-around;
}

#output {
  display: block;
  position: relative;
  width: 90%;
  height: 100px;
  padding: 10px;
  background: #000;
  color: #fff;
  font-family: monospace;
  line-height: 8px;
  overflow-x: scroll;
}
